{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="{% static 'images/logo-1.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="nav-logo">
                <img src="{% static 'images/logo-1.png'%}" alt="" width="80px" height="80px">
            </div>


            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}#publicar">Publicar</a></li>
                <li><a href="#">Buscar</a></li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' %}" class="nav-user">
                        {% if user.imagen_perfil %}
                        <img src="{{ user.imagen_perfil.url }}" alt="Perfil" class="nav-avatar">
                        {% else %}
                        <img src="{% static 'images/default-profile.png' %}" alt="Perfil" class="nav-avatar">
                        {% endif %}
                        <span>{{ user.username }}</span>
                    </a>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                {% endif %}

            </ul>

            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}


        {% endblock %}
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">MiBlog</div>
            <div class="newsletter">
                <h3>Suscríbete a nuestro Newsletter</h3>
                <form class="newsletter-form">
                    <div class="input-group">
                        <i class="fas fa-user"></i>
                        <input type="text" name="nombre" placeholder="Tu nombre" required>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="email" placeholder="Tu email" required>
                    </div>
                    <button type="submit" class="btn-newsletter">
                        Suscribirme
                    </button>
                </form>
            </div>

            <ul class="footer-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Privacidad</a></li>
            </ul>

            <div class="footer-socials">
                <a href="https://www.threads.net/" target="_blank" aria-label="Threads">
                    <i class="fab fa-threads"></i>
                </a>
                <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

            <p class="footer-copy">© 2025 MiBlog. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!---BACK TO TOP-->
    <!-- <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
        <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
    </a> -->
    <!-- BACK TO TOP ENDS -->

    <!-- JS script -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <!-- Ionicons  -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>