{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<section class="detalle-articulo glass-container">
    <div class="detalle-header">
        <h1 class="headline headline-2 ">{{ articulo.titulo }}</h1>
        <span class="detalle-category">#{{ articulo.categoria.nombre }}</span>
    </div>

    <div class="detalle-meta">
        <div class="author-info">
            {% if articulo.autor.imagen_perfil %}
            <img src="{{ articulo.autor.imagen_perfil.url }}" alt="{{ articulo.autor.username }}" class="author-avatar">
            {% else %}
            <img src="{% static 'images/default-profile.png' %}" alt="Perfil" class="author-avatar">
            {% endif %}
            <div>
                <p class="author-name">{{ articulo.autor.username }}</p>
                <p class="publish-date">{{ articulo.fecha_creacion|date:"d M Y" }}</p>
            </div>
        </div>
        <span class="time-since">{{ articulo.fecha_creacion|timesince }}</span>
    </div>

    <div class="detalle-body">
        {% if articulo.imagen_portada %}
        <img style="border-radius: 10px;" src="{{ articulo.imagen_portada.url }}" alt="{{ articulo.titulo }}"
            class="detalle-image">
        {% endif %}
        <div class="detalle-content">
            <p>{{ articulo.contenido|linebreaks }}</p>
            <div class="card-actions">
                <a href="{% url 'toggle_like' 'articulo' articulo.id_articulo %}"
                    class="like-btn {% if articulo.id_articulo in likes_usuario %}liked{% endif %}">
                    <ion-icon name="heart"></ion-icon>
                </a>
                {% if usuarios_like %}
                <span class="like-info">
                    {% for u in usuarios_like %}
                    {{ u.username }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    {% if likes.count > 2 %} y otros...{% endif %}
                </span>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="detalle-footer">
        <a class="btn-readmore" href="{% url 'home' %}" class="btn-back">⬅ Home</a>
    </div>
</section>
{% endblock %}