{% extends 'pages/base.html' %}

{% block title %}Detalle de usuario{% endblock %}

{% block content %}
<h1>{{ user.nombre_usuario }}</h1>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Rol:</strong> {{ user.rol }}</p>
    <p><strong>Activo:</strong> {{ user.activo|yesno:"Sí,No" }}</p>
    <p><strong>Fecha de registro:</strong> {{ user.fecha_registro }}</p>
    {% if user.imagen_perfil %}
        <img src="{{ user.imagen_perfil.url }}" width="150" style="border-radius:10px;">
    {% else %}
        <p>Sin imagen de perfil</p>
    {% endif %}
    <br><br>
    <a href="{% url 'user_list' %}">⬅️ Volver al listado</a>
{% endblock %}