{% extends 'pages/base.html' %}
{% block content %}
<section class="mensajes-wrapper">
  <div class="mensajes-header">
    <h2>Enviar Mensaje ✍️</h2>
  </div>

  <form method="post" class="mensaje-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.destinatario.id_for_label }}" class="form-label">Destinatario</label>
      {{ form.destinatario }}
    </div>

    <div class="form-group">
      <label for="{{ form.contenido.id_for_label }}" class="form-label">Contenido</label>
      {{ form.contenido }}
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-primary">Enviar</button>
    </div>
  </form>
</section>
{% endblock %}
